<!DOCTYPE html>
<html>
<head>
<title>To-do List</title>
<link rel="stylesheet" href="index.css">
</head>
<body>
<form action="" class="content" method="post">
<h1>To-Do List:</h1><br><br>

<input type="text" name="task" placeholder="Enter To-do Task">
<button type="Submit" class="add">ADD</button><br>

<ul class="list">

    <li>
        <input type="checkbox">
        <label>Coding</label>
        <button type="reset" class="delete">DELETE</button><br>
    </li>
    
    <li>
        <input type="checkbox">
        <label>Workout</label>
        <button type="reset" class="delete">DELETE</button><br>
    </li>

    <li>
        <input type="checkbox">
        <label>Sleeping</label>
        <input type="reset" class="delete" value="delete"><br>
    </li>

   <% task_obj.forEach((task)=>{ %>
    <li>
        <input type="checkbox">
        <%= task %>
       <!-- <button type="reset" class="delete">DELETE</button><br>-->
       <a href="/remove-task/<%= task %>" >Delete</a>
    </li>
    <% }) %>
</ul>
</form>
</body>
</html>